.bg-purple {
    background-color:#232A58;
}

.txt-pink {
    color: #B75389;
}

.txt-orange {
    color: #E49850;
}

.txt-green {
    color: #65BA65;
}

.btn-c-teal {
    background-color: #20c997;
    font-size: 9pt;
}

.btn-c-green {
    background-color: #06A097;
    font-size: 9pt;
}

.btn-c-white {
    background-color: #EFE7D4;
    font-size: 9pt;
}

.head-number {
    font-weight: bold;
    font-size : 10pt;
}

.has-search .form-control {
    padding-left: 0.775rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 11rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: right;
    pointer-events: none;
    color: #aaa;
}

.avatar-rectangle {
    width: 30px;
    height: 30px;
    background-color: #B52083;
    text-align: center;
  }

  .initials {
    position: relative;
    top: 2.5px; /* 25% of parent */
    font-size: 15px; /* 50% of parent */
    line-height: 15px; /* 50% of parent */
    color: #fff;
    font-weight: bold;

  }

  .bottom-liner {
    border-bottom: 5px solid #D14783;
    display: block;
    line-height: 50px;
    list-style-type: none;
    text-decoration: none;
  }

  .bottom-liner-inactive {
    border-bottom: 5px transparent;
    display: block;
    line-height: 50px;
    list-style-type: none;
    text-decoration: none;
  }

  .custom-card {
      background-color: #304363;
      padding: 5px 5px 5px 5px;
  }

  .helpdesk-card {
    background-color: #262C49;
    padding: 15px 15px 15px 15px;
  }

  .helpdesk-header {
      font-weight: bold;
      font-size: 12pt;
  }

  .box {
    padding: 5px;
    border: 3px solid grey;
    display: block;
    line-height: 15px;
    list-style-type: none;
    text-decoration: none;
  }

  .box-sm {
    padding: 3px;
    border: 2px solid grey;
    display: block;
    line-height: 15px;
    list-style-type: none;
    text-decoration: none;
  }

  .txt-box {
    text-align: left;
    padding: 3px;
    line-height: 10px;
  }

  .txt-sm {
      font-size: 6pt;
  }

  .box-blue {
      border-color: #177C87;
  }

  .box-red {
      border-color: #983E49;
  }

  .box-pink {
    border-color: #B75389;
}

  .box-orange {
    border-color: #E49850;
  }

  .box-teal {
    border-color: #17848C;
  }

  .no-style {
    color: white;
    text-decoration: none;
  }

  a.no-style:hover, a.no-style:focus {
    color: white;
    text-decoration: none;
}

  ::-webkit-input-placeholder {
    font-size: 12px!important;
 }

 .wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #2A3660;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    min-width: 60px;
    max-width: 60px;
    text-align: center;
}

#sidebar.active .sidebar-header h3,
#sidebar.active .CTAs {
    display: none;
}

#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.55em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #38D9A0;
}

#sidebar .sidebar-header strong {
    display: none;
    font-size: 1.8em;
}

#sidebar ul.components {
    padding: 100px 0;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #38D9A0;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #38D9A0;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.btn-info {
    border: 0;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 25px;
    min-height: 100vh;
    transition: all 0.3s;
    background-color: #4B6581;
    color: white;
    font-size: 12px;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

#container-chart {
  height: 200px; 
}

#container-pie {
  height: 200px; 
  width: 150px;
}

#container-p {
  height: 200px; 
  width: 150px;
}